<div id="sub_comment_<%= sub_comment.id %>" class="row single-comment vertical-align">

  <div class="sub_comment clearfix">
    <div class="sub_comment_content">

      <p><%= image_tag sub_comment.user.avatar.url , size: '50x50' %></p>
      <p> Author: <%= sub_comment.user.name%></p>
      <p class="date">
        <%= sub_comment.body %>
        <% if current_user?(sub_comment.user)%>
            | <%= link_to 'x',destroy_sub_comment_path(sub_comment_id: sub_comment.id, post_id: sub_comment.comment.post),
                         method: :delete, data: { confirm: 'Delete comment?' },
                         class: 'delete_sub_comment', id: "#{sub_comment.id}_delete", remote: true,
                         title: 'Delete comment', rel: 'tooltip' %> |
          <%= link_to 'edit' , edit_sub_comment_path(sub_comment.id)%>
        <% end %>
      </p>
    </div>
  </div>
</div>